<!DOCTYPE html>
<html>
  <head>
      <style>
          body, html {
              height: 100%;
              width: 100%;
            }

            div#googleMap {
              width: 100%; height: 75%;
            }


      </style>
  </head>
  <body>
    <div id="googleMap"></div>
    <script>
      var map;
      var cool=1000;
      function initMap() {
//        map = new google.maps.Map(document.getElementById('googleMap'), {
//          center: {lat: 40.42277, lng: -89.33},
//          zoom: 8
          map = new google.maps.Map(document.getElementById('googleMap'), {
    zoom: 4,
    center: {lat: 40.42277, lng: -89.33}


        });
        map.data.loadGeoJson('static/cods.json');


          map.data.addListener('addfeature', function(event) {
            console.log(event);
          });


     //map.data.loadGeoJson('https://storage.googleapis.com/maps-devrel/google.json');

      }
      function ajaxIconCall(data2){
        console.log("HELLOOOfdsfdsfdsfdsfdsfsfsfdsfOO");
      $.get(
                url="cropImages",
                data={},
                success=function(data) {

                    var jsonparse;
                    var marker;
                    var myLatLng;
                        jsonparse=JSON.parse(data);
                        var p=jsonparse;
                        for(var key in p) {
                            if ((p).hasOwnProperty(key)) {
                                var icon=key;

//                                alert(key + " -> " + p[key]);
                                for(var latLongTuples in p[key]){
                                    myLatLng = new google.maps.LatLng({lat:p[key][latLongTuples][1], lng: p[key][latLongTuples][0]});
                                    console.log(myLatLng.toString());

                                    marker=new google.maps.Marker({
                                    position: myLatLng,
                                   icon: 'static/js/'+icon+'.png',
                                   // icon: 'http://thumb10.shutterstock.com/photos/thumb_large/548344/104023211.jpg',
                                    map: map
                                  });

//                                    alert(p[key][latLongTuples][0]);
                                }

                            }
                        }


                    myLatLng = new google.maps.LatLng({lat:40.42277, lng: -89.33});


                    marker = new google.maps.Marker({
                    position: myLatLng,
                    icon: 'static/js/ALFALFA.png',
                   // icon: 'http://thumb10.shutterstock.com/photos/thumb_large/548344/104023211.jpg',
                    map: map
                  });
                    myLatLng = new google.maps.LatLng({lat:40.42277, lng: -89.33});
                    marker = new google.maps.Marker({
                    position: myLatLng,
                    icon: 'static/js/ALFALFA.png',
                   // icon: 'http://thumb10.shutterstock.com/photos/thumb_large/548344/104023211.jpg',
                    map: map
                  });

//                   alert('page content: '+ data);
                }
            );

      }
      function loadGeoJsonString(geoString) {
          var geojson = JSON.parse(geoString);
          map.data.addGeoJson(geojson);
      }
        function consoleBoundries(){
            var ne=map.getBounds().getNorthEast();
            var sw = map.getBounds().getSouthWest();
            var nw = new google.maps.LatLng(ne.lat(), sw.lng());
            var se = new google.maps.LatLng(sw.lat(), ne.lng());
            console.log("HELLOOOOO");
            console.log(ne.toString());
            console.log(sw.toString());
            console.log(nw.toString());
            console.log(se.toString());

            var nePass=encodeURIComponent(ne.toString())
            var swPass=encodeURIComponent(sw.toString())
            $.get(
                url="sendBounds",
                data={"NE":nePass,
                        "SW":swPass
                },
                success=function(data) {
                    loadGeoJsonString(data);
//                 map.data.loadGeoJson('https://storage.googleapis.com/maps-devrel/google.json');
//                   alert('page content: ' + data);
                ajaxIconCall(data);


                }
            );

        }


    </script>


  <button onclick="consoleBoundries();">Balanced</button>
    <button onclick="consoleBoundries();">Chemical Free</button>
<button onclick="consoleBoundries();">Save Water</button>
    <button onclick="consoleBoundries();">Diversity</button>




    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDktYmJJGTzxdXIAuRwGz9o-E1Y5kVdoCg&callback=initMap"
    async defer></script>
  <script src="../static/js/jquery-1.12.0.min.js"></script>
  </body>
</html>