<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

        <script src="../static/js/jquery-1.12.0.min.js"></script>
    <script src="../static/js/signUp.js"></script>


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Welcome to Croptimize!</h1>
            <p class="lead"></p>
            <button id="climateLoginButton" class="btn btn-lg btn-primary btn-block" type="button">Climate Log In</button>

            </p>
        </div>

        <div class="row marketing" style="alignment: center">
            <div class="col-lg-6" style="text-align: center">
                <h4>Powered By</h4>
                <p>Climate and John Deere API's</p>
                </div>
        </div>

        <footer class="footer">
            <p>&copy; Team Singe 2016</p>
        </footer>

    </div>
</body>

</html>